{% extends "_base.html" %}

{% block content %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h1>Do something with AJAX</h1>
<p>Input a username. AJAX, will update an async message.</p>
<p id="response_msg"></p>
<form id="username_form">
    <label for="username_txt">Name:</label>
    <input type="text" id="username_input" name="username_txt" />
    <button type="button" id="username_button">Click</button>
</form>
{% endblock content %}
